<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1 class="text-center text-danger">
      Error 
      <p>Please login to continue.</p>
    </h1>
    
    <%- include('../partials/footer') %>
  </body>
</html>
