
<!-- footer template -->
<footer class="text-center text-white"style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="container p-4 pb-0">
    <section class="mb-2">
      <a class="btn btn-outline-light btn-floating m-1" href="/" role="button"><i class="fa fa-home" aria-hidden="true"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="/author" role="button"><i class="fa fa-user" aria-hidden="true"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="/author/blogPageSettings" role="button"><i class="fa fa-cog" aria-hidden="true"></i></a>
    </section>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
    © Wripts 2023.
  </div>
</footer>
