<!-- about.page -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>About Us</title>
</head>
<body>
  <div>
    <%- include('../partials/header') %>
    <div class="container wrapper mt-4 mb-4">
      <div class="row">
        <div class="col-md-12">
          <div class="wrapper text-center">
            <h1>About Us</h1>
            <p class="text-center mt-3">
              Welcome to wripts minimalistic blog tool. <br/>Sign in to start creating your own blog posts.
             <br/> Read interesting blogs.
             <br/> Created by @YJ CHNG.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>
